@font-face {
	font-family: 'Exo';
	src: url('../fonts/Exo Bold/exo bold.eot');
	src: local('☺'), url('../fonts/Exo Bold/exo bold.woff') format('woff'), url('../fonts/Exo Bold/exo bold.ttf') format('truetype'), url('../fonts/Exo Bold/exo bold.svg') format('svg');
	font-weight: 600;
	font-style: bold;
}

@font-face {
	font-family: 'Exo';
	src: url('../fonts/Exo Regular/exo regular.eot');
	src: local('☺'), url('../fonts/Exo Regular/exo regular.woff') format('woff'), url('../fonts/Exo Regular/exo regular.ttf') format('truetype'), url('../fonts/Exo Regular/exo regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/Pacifico Regular/Pacifico Regular.eot');
	src: local('☺'), url('../fonts/Pacifico Regular/Pacifico Regular.woff') format('woff'), url('../fonts/Pacifico Regular/Pacifico Regular.ttf') format('truetype'), url('../fonts/Pacifico Regular/Pacifico Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto Light/roboto light.eot');
	src: local('☺'), url('../fonts/Roboto Light/roboto light.woff') format('woff'), url('../fonts/Roboto Light/roboto light.ttf') format('truetype'), url('../fonts/Roboto Light/roboto light.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto Medium/roboto medium.eot');
	src: local('☺'), url('../fonts/Roboto Medium/roboto medium.woff') format('woff'), url('../fonts/Roboto Medium/roboto medium.ttf') format('truetype'), url('../fonts/Roboto Medium/roboto medium.svg') format('svg');
	font-weight: 500;
	font-style: medium;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto Thin/roboto thin.eot');
	src: local('☺'), url('../fonts/Roboto Thin/roboto thin.woff') format('woff'), url('../fonts/Roboto Thin/roboto thin.ttf') format('truetype'), url('../fonts/Roboto Thin/roboto thin.svg') format('svg');
	font-weight: 100;
	font-style: light;
}