+between(600px, 899px)
	.main-header
		size(100%, auto)

		&__bunner
			size(100%, 50vw)

	.top-header
		size(100%, 9vw)
		padding 0 10vw

	.logo
		font(Roboto, 4.5vw, 4.5vw, 500)

		&--accent
			margin-left -0.9vw
			font(Pacifico, 6.8vw, 4.5vw)

	.main-nav
		font(Roboto, 1.3vw, 1.3vw, 200)
		
		&__item
			padding 1.7vw
			
	.bunner
		&__title
			padding 2vw 0
			font(Exo, 4vw)

		&__tagline
			padding 1.7vw 18vw
			font(Roboto, 1.6vw, 3.2vw, 200)
			
	.main-content
		size(100%, auto)
		font(Roboto, 2vw, 3.11vw, 100)
		
		&__welcome
			padding 8vw 10vw 2vw
		
		&__team
			padding 8vw 10vw 2vw
			
		&__works
			padding 8vw 10vw 2vw

	.welcome
		&__title
			margin-bottom 3vw
			font(Roboto, 3.33vw, 4vw, 500)

		&__discription
			margin-bottom 5vw
			padding 0 10vw

	.option
		size(37vw, auto)
		padding 3.89vw 2vw 3.33vw

		&:nth-of-type(1),
		&:nth-of-type(2),
		&:nth-of-type(3),
		&:nth-of-type(4)
			margin-bottom 5.33vw

		&__icon
			size(3.33vw, 4.44vw)
			margin-bottom 1.67vw

		&__title
			font-size 2.67vw
			margin-bottom 2.78vw

		&__description
			font-size 1.7vw
			line-height 3.33vw
			
	.team
		&__title
			margin-bottom 3vw
			font(Roboto, 3.33vw, 4vw, 500)

	.member
		size(17.5vw, auto)
		
		&:hover
			.member__info
				bottom -7%
				left -5%
				size(110%, 114%)
				padding-top 20%
				background-color rgba(accent, 0.9)

			.member__social
				display block
				
		&__photo
			height 22.78vw

		&__info
			padding 1.67vw 0

		&__name
			font(Roboto, 1.7vw, 2vw, 300)

		&__position
			font(Roboto, 1.3vw, 2vw, 100)

		&__social
			margin-top 10vw
			padding 1vw

		&__social-icon
			max-height 1.2vw
			max-width 3vw
			
	.works
		&__title
			margin-bottom 3vw
			font(Roboto, 3.33vw, 4vw, 500)

		&__types li
			margin-bottom 1vw
			
		&__photos-block
			justify-content center
			
			img
				size(26.64vw)
				margin 1.3vw 0

		&__see-more
			margin-top 1.25vw
			padding 1.25vw 3.75vw
			font(Roboto, 1.8vw, 1.8vw, 100)

	.types__item
		padding 0.31vw 1.25vw
		font(Roboto, 1.8vw, 3.11vw, 100)