+between(600px, 899px)
	.main-header
		size(100%, auto)

		&__bunner
			size(100%, 50vw)

	.top-header
		size(100%, 9vw)
		padding 0 10vw

	.logo
		font(Roboto, 4.5vw, 4.5vw, 500)

		&--accent
			margin-left -0.9vw
			font(Pacifico, 6.8vw, 4.5vw)

	.main-nav
		font(Roboto, 1.3vw, 1.3vw, 200)
		
		&__item
			padding 1.7vw
			
	.bunner
		&__title
			padding 2vw 0
			font(Exo, 4vw)

		&__tagline
			padding 1.7vw 18vw
			font(Roboto, 1.6vw, 3.2vw, 200)
			
	.main-content
		size(100%, auto)
		font(Roboto, 2vw, 3.11vw, 100)

	.welcome
		padding 8vw 10vw 2vw

		&__title
			margin-bottom 3vw
			font(Roboto, 3.33vw, 4vw, 500)

		&__discription
			margin-bottom 5vw
			padding 0 10vw

	.option
		size(37vw, auto)
		padding 3.89vw 2vw 3.33vw

		&:nth-of-type(1),
		&:nth-of-type(2),
		&:nth-of-type(3),
		&:nth-of-type(4)
			margin-bottom 5.33vw

		&__icon
			size(3.33vw, 4.44vw)
			margin-bottom 1.67vw

		&__title
			font-size 2.67vw
			margin-bottom 2.78vw

		&__description
			font-size 1.7vw
			line-height 3.33vw