+between(0px, 319px)
	.body
		width 319px
		
	.main-header
		size(100%, auto)

		&__bunner
			size(100%, 255px)

	.top-header
		size(100%, 48px)
		padding 0 32px
		background-color rgba(#000, 0.6)

	.logo
		font(Roboto, 22px, 22px, 500)

		&--accent
			margin-left -6px
			font(Pacifico, 35px, 22px)

	.main-nav
		size(24px)
		
		&__menu
			position absolute
			top 43px
			right  -32px
			display none
			size(319px, auto)
		
		&__btn
			display block
			margin-top -4px
			margin-left -5px
			size(26px)
			padding 3px
		
		&__svg-menu
			size(100%)

		&__item
			display block
			padding 40px
			background-color rgba(#000, 0.9)
			border-bottom 1px solid textColor
			text-align center
			font(Roboto, 13px, 13px, 200)
			
			&--active
				border-bottom 1px solid accent

				&:after
					display none
			
	.bunner
		&__title
			padding 13px 0
			font(Exo, 22px)

		&__tagline
			padding 5px 28px
			font(Roboto, 9px, 14px, 200)
			
	.main-content
		size(100%, auto)
		font(Roboto, 9.5px, 12px, 100)
		
		&__welcome
			padding 25px 25px 6px
			
		&__team
			padding 25px 25px 6px
			
		&__works
			padding 25px 10px 6px

	.welcome
		&__title
			margin-bottom 11px
			font(Roboto, 12px, 14px, 500)

		&__discription
			margin-bottom 19px
			padding 0 9px
			
		&__option-list
			justify-content center

	.option
		size(190px, auto)
		padding 12px 15px

		&:nth-of-type(1),
		&:nth-of-type(2),
		&:nth-of-type(3),
		&:nth-of-type(4),
		&:nth-of-type(5)
			margin-bottom 17px

		&__icon
			size(21px, 25px)
			margin-bottom 7px

		&__title
			font-size 11px
			margin-bottom 10px

		&__description
			font-size 9px
			line-height 12px
			
	.team
		&__title
			margin-bottom 11px
			font(Roboto, 12px, 14px, 500)

		&__list
			width 269px
			flex-wrap wrap
			
	.member
		size(127px, auto)
		
		&:nth-of-type(1),
		&:nth-of-type(2)
			margin-bottom 15px
			
		&:hover
			.member__info
				bottom -5%
				left -5%
				size(110%, 110%)
				padding-top 45%
				background-color rgba(accent, 0.9)

			.member__social
				display block

		&__photo
			height 165px

		&__info
			padding 7px 0

		&__name
			font(Roboto, 12px, 15px, 300)

		&__position
			font(Roboto, 10px, 12px, 100)

		&__social
			margin-top 45px
			padding 4.5vw

		&__social-icon
			max-height 8.5vw
			max-width 22.5vw
			
	.works
		&__title
			margin-bottom 11px
			font(Roboto, 12px, 14px, 500)

		&__types li
			margin-bottom 15px
			
		&__photos-block
			justify-content center
			
			img
				size(230px)
				margin 10px 0

		&__see-more
			margin-top 10px
			padding 10px 20px
			font(Roboto, 10px, 10px, 100)

	.types__item
		padding 5px 8px
		font(Roboto, 10px, 12px, 100)