*, *:before, *:after 
	margin 0
	padding 0
	box-sizing border-box
	text-decoration none
	outline none
	list-style none

body 
	position relative
	max-width 1600px
	margin 0 auto
	padding 0
	background-color #fffcf4
	color textColor
	font(Roboto, 18px, 30px, 100)
	
.main-header
	position relative
	size(100%, 800px)
	background-color darkText
	background-image url('../images/bunner.jpg')
	background-repeat no-repeat
	background-size  auto 100%
	background-position center
	color #fff
	overflow hidden
	
	+retina()
		background-image url('../images/bunner@2.jpg')
	
	&__bunner
		size(100%, 680px)
	
.top-header
	position relative
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	size(100%, 120px)
	padding 0 260px
	border-bottom 1px solid #4a4a4b
	
.logo
	font(Roboto, 40px, 40px, 500)
	color #ffffff
	
	&__link
		color #ffffff
	
	&--accent
		margin-left -10px
		font(Pacifico, 70px, 40px)
		font-style italic
		color accent
		
.main-nav
	position relative
	
	&__menu
		position relative
		display block
		font(Roboto, 14px, 14px, 200)
		text-transform uppercase
		color #ffffff
	
	&__svg-menu
		display block
		size(35px)
		fill #ffffff
		
	&__btn
		position relative
		display none
		size(35px)
		border none
		background-color transparent
	
	&__item
		padding 20px
		color #ffffff
		
		&:hover
			background-color rgba(#ffffff, 0.2)
			
		&:active
			color accent
			background-color transparent
		
		&--active
			position relative
			color  accent
			
			&:after
				content ''
				position absolute
				bottom 0px
				left 20%
				display inline-block
				size(60%, 1px)
				background-color accent
				text-align center
				
.bunner
	display flex
	flex-direction column
	justify-content center
	color #ffffff
	text-align center
	
	&__title
		padding 25px 0
		font(Exo, 48px)
		
	&__logo
		text-transform uppercase
		color accent
		font-weight 600
		cursor pointer
		
	&__tagline
		size(100%, auto)
		padding 20px 340px
		align-self center
		font(Roboto, 18px, 36px, 200)
		
.main-content
	size(100%, auto)
	font(Roboto, 20px, 30px, 100)
	overflow hidden
	
	&__team
		display flex
		flex-direction column
		text-align center
		padding 100px 215px 40px
		
	&__welcome
		padding 120px 215px 20px
		
	&__works
		padding 100px 215px 20px
		
	&__price
		padding 80px 230px 125px 
		text-align center
		color textColor
		font(Roboto, 14px, 26px, 100)
		
	&__feedback
		padding 35px 350px
		background-image url('../images/fomr-bg.jpg')
		background-repeat no-repeat
		background-size cover
		text-align center
		
		+retina()
			background-image url('../images/fomr-bg@2.jpg')
	
.welcome
	display flex
	flex-direction column
	text-align center
	
	&__title
		margin-bottom 50px
		font(Roboto, 30px, 36px, 500)
		color darkText
		
	&__logo
		text-transform uppercase
		color accent
		
	&__discription
		margin-bottom 75px
		padding 0 140px
		
	&__option-list
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content space-between
		
.option
	size(355px, auto)
	padding 35px 15px 30px
	text-decoration none
	color darkText
	border 1px solid textColor
	transform 0.25s ease
	
	&:nth-of-type(1),
	&:nth-of-type(2),
	&:nth-of-type(3)
		margin-bottom 48px
		
	&:hover 
		border-color accent
		
		.option__icon
			fill accent
			
		.option__title
			color accent
		
	&__icon
		size(30px, 40px)
		margin-bottom 15px
		fill darkText
		transform 0.25s ease
		
	&__title
		font-size 24px
		margin-bottom 25px
		transform 0.25s ease
		
	&__description
		font-size 14px
		line-height 30px
		
.team
	&__title
		margin-bottom 50px
		font(Roboto, 30px, 36px, 500)
		color darkText
		
	&__list
		display flex
		flex-direction row
		justify-content space-between
		flex-wrap nowrap
	
.member
	position relative
	size(270px, auto)
	background-color #ccc
	border 1px solid #f3fdf9
	
	&:hover
		.member__info
			bottom -7%
			left -5%
			size(110%, 114%)
			padding-top 62%
			background-color rgba(accent, 0.9)
			
		.member__social
			display block
			
	&__photo
		size(100%, auto)
		max-height 355px
	
	&__info
		position absolute
		left 0
		bottom 0
		display block
		size(100%, auto)
		padding 15px 0
		background-color rgba(dark, 0.9)
		color #fffcf4			
		
	&__name
		font(Roboto, 18px, 25px, 300)
	
	&__position
		font(Roboto, 14px, 18px, 100)
	
	&__social
		display none
		size(100%, auto)
		margin-top 90px
		padding 9px
		text-align center
		border-top 1px solid rgba(#ffffff, 0.5)
		border-bottom 1px solid rgba(#ffffff, 0.5)
	
	&__social-icon
		max-height 17px
		max-width 45px
		fill #fffcf4
		
		
		
		
.works
	text-align center
	
	&__title
		margin-bottom 50px
		font(Roboto, 30px, 36px, 500)
		color darkText
		
	&__types li
		display inline-block
		margin-bottom 25px
		color darkText
		
	&__photos-block
		width 100%
		display flex
		flex-direction row
		justify-content space-between
		flex-wrap wrap
		
		img
			size(390px)
			margin 25px 0
		
	&__see-more
		margin-top 20px
		padding 20px 60px
		background-color accent
		color #ffffff
		font(Roboto, 18px, 18px, 100)
		border 2px solid transparent
			
		&:hover
			background-color transparent
			border 2px solid accent
			color accent
		
.types__item
	padding 5px 20px
	color darkText
	font(Roboto, 18px, 36px, 200)

	&:hover,
	&:active
		color accent
	
.ui-state-active .types__item
	color accent

.price
	&__title
		margin-bottom 20px
		font(Roboto, 30px, 36px, 500)
		color darkText
		
	&__btn-prev,
	&__btn-next	
		display none

.price-plan
	display inline-block
	width 265px
	margin 0 10px
	text-align center
	
	&:hover
		.price-plan__description
			border-color accent
			
		.price-plan__name
			color accent
			
		.price-plan__price
			background-color accent
			color #ffffff
			border-color accent
			
		.price-plan__btn-order
			background-color accent
			color #ffffff
			border-color accent
			
	&__description
		border 1px solid  transparent
	
	&__name
		padding 30px 0
	
	&__price
		padding 25px 0 13px
		font(Roboto, 36px, 36px, 500)
		color #454546
		border 1px solid textColor
		
	&__time
		font(Roboto, 18px, 36px, 100)
		
	&__options
		padding 35px 0 27px
		list-style none
		
	&__btn-order
		margin 22px
		padding 13px 16px 11px
		background-color transparent
		border 1px solid textColor
		
.feedback
	color #ffffff
	text-transform uppercase
	
	&__title
		margin-bottom 20px
		font(Roboto, 30px, 36px, 500)

	&__form
		width 100%
		text-align center
		color #ffffff
		
	&__name
		display inline-block
		width 47%
		margin-right 6%
		margin-bottom 27px
		padding 18px
		background-color transparent
		border 1px solid #fff
		color #fff
		font(Roboto, 14px, 36px, 100)
		placeholder(color, #fff)
		placeholder(font-weight, 100)
		placeholder(font-style, italic)
		placeholder(font-size, 14px)
		
		&:hover,
		&:focus
			border-color accent
		
	&__email
		display inline-block
		width 47%
		padding 18px
		background-color transparent
		color #fff
		font(Roboto, 14px, 36px, 100)
		border 1px solid #fff
		placeholder(color, #fff)
		placeholder(font-weight, 100)
		placeholder(font-style, italic)
		placeholder(font-size, 14px)
		
		&:hover,
		&:focus
			border-color accent
		
	&__message
		width 100%
		padding 18px
		background-color transparent
		color #fff
		font(Roboto, 14px, 36px, 100)
		border 1px solid #fff
		placeholder(color, #fff)
		placeholder(font-weight, 100)
		placeholder(font-style, italic)
		placeholder(font-size, 14px)
		
		&:hover,
		&:focus
			border-color accent
		
	&__btn
		display block
		margin 0 auto
		margin-top 35px
		padding 15px 35px
		color #fff
		background-color accent
		font(Roboto, 18px, 22px, 100)
		border 1px solid transparent
		
		&:hover
			background-color accent
			color #fff
			border-color accent
			
.main-footer
	background-color #0b0a0a
	color textColor
	
	&__top
		display flex
		flex-direction column
		flex-wrap wrap
		size(100%, 330px)
		padding 30px 320px 70px 245px
		
	&__about
		size(320px, auto)
		margin-right 120px
		font(Roboto, 14px, 30px, 100)
		
	&__footer-nav
		margin-right 155px
		
	&__social-links
		size(200px, 75px)
		
	&__subscribe-form
		size(250px, 130px)
		
	&__bottom
		background-color #000000
		color #ffffff
		text-align center
		
	&__copyright
		padding 25px
		font(Roboto, 14px, 36px, 100)
		
.about
	&__title
		color #fff
		font(Roboto, 18px, 36px, 300)
		
.footer-nav
	&__title
		color #fff
		font(Roboto, 18px, 36px, 300)
		
	&__list
		list-style none
		column-count 2
		column-gap 25px
		
	&__link
		color textColor
		text-decoration none
		font(Roboto, 14px, 30px, 100)
		
		&:hover
			color accent
		
.social-links
	margin-bottom 12px
	
	&__title
		color #fff
		font(Roboto, 18px, 36px, 300)
		
	&__list
		list-style none
		
		li
			display inline-block
		
	&__link
		display inline-block
		size(40px)
		margin 5px
		border 1px solid textColor
		text-decoration none
		text-align center
		vertical-align middle
		
		&:hover .social-links__icon
			fill accent
		
	&__icon
		size(40px)
		padding 10px
		fill textColor
		
.subscribe-form
	&__title
		margin-bottom 5px
		color #fff
		font(Roboto, 18px, 36px, 300)
		
	&__input-email
		width 250px
		margin-bottom 15px
		padding 10px 8px
		background-color transparent
		border 1px solid textColor
		font(Roboto, 14px, 20px, 100)
		color #fff
		placeholder(color, textColor)
		placeholder(font-weight, 100)
		placeholder(font-size, 14px)
		
		&:hover
			border-color accent
		
	&__btn
		padding 10px 20px
		background-color accent
		color #fff
		font(Roboto, 14px, 20px, 100)
		border 1px solid transparent
		
		&:hover
			background-color transparent
			color accent
			border-color accent
	
.modal-form
	display none
	
	&__window
		position fixed
		top 50vh
		left 50vw
		display block
		size(500px, 300px)
		padding 110px 0
		margin-left -250px
		margin-top -150px
		background-color #fff
		color textColor
		text-align center
		font(Roboto, 20px, 30px, 300)
		z-index 100
	
	&__overlay
		position fixed
		top 0
		left 0
		display block
		size(100%)
		background-color rgba(#000, 70%)
	
.modal-link
	display none
	
	&__window
		position fixed
		top 50vh
		left 50vw
		display block
		size(500px, 300px)
		padding 110px 0
		margin-left -250px
		margin-top -150px
		background-color #fff
		color textColor
		text-align center
		font(Roboto, 20px, 30px, 300)
		z-index 100
	
	&__overlay
		position fixed
		top 0
		left 0
		display block
		size(100%)
		background-color rgba(#000, 70%)
















