DOCTYPE
	html(lang="en")
		head
			meta(charset="UTF-8")
			meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name='cleartype' content='on')
			meta(name='google' value='notranslate')
			meta(name="robots" content="index, follow")
			meta(name='description' content='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.')
			meta(name='keywords' content='development, web, design, seo, sharkz')
			link(href='assets/images/favicon.png'   rel='icon' type='image/png')
			title Foinni

			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

			link(rel="stylesheet", href="assets/styles/style.min.css")

		body

			header.main-header
				div.top-header
					div.top-header__logo.logo
						a(href="#").logo__link foi 
							span.logo--accent nni
					div.top-header__main-nav.main-nav
						button.main-nav__btn
							svg.main-nav__svg-menu
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_menu')
						nav.main-nav__menu
							a(href="#").main-nav__item Home
							a(href="#").main-nav__item.main-nav__item--active Sevice
							a(href="#").main-nav__item Pricing
							a(href="#").main-nav__item Portfolio
							a(href="#").main-nav__item Contact us

				div.main-header__bunner.bunner
					h2.bunner__title We Love <a class='bunner__logo'>Foinni</a> Polapain
					p.bunner__tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis n
					
			main.main-content
			
				section.miin-content__welcome.welcome
					h2.welcome__title Welcome To 
						span.welcome__logo FOINNI
					p.welcome__discription Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
					div.welcome__option-list
						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_code')
							h3.option__title Development
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_monitor')
							h3.option__title Responsive
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_wifi')
							h3.option__title Clean Design
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_eye')
							h3.option__title Graphic Design
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_camera')
							h3.option__title Photography
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_brightness')
							h3.option__title Photo Editing
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 
	
	
	
	
	






			script(type='text/javascript' src="assets/scripts/script.js")