DOCTYPE
	html(lang="en")
		head
			meta(charset="UTF-8")
			meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name='cleartype' content='on')
			meta(name='google' value='notranslate')
			meta(name="robots" content="index, follow")
			meta(name='description' content='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.')
			meta(name='keywords' content='development, web, design, seo, sharkz')
			link(href='assets/images/favicon.png'   rel='icon' type='image/png')
			title Foinni

			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
			script(src="assets/scripts/libs.min.js")

			link(rel="stylesheet", href="assets/styles/style.min.css")

		body

			header.main-header
				div.top-header
					div.top-header__logo.logo
						a(href="#").logo__link foi 
							span.logo--accent nni
					div.top-header__main-nav.main-nav
						button.main-nav__btn
							svg.main-nav__svg-menu
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_menu')
						nav.main-nav__menu
							a(href="#").main-nav__item Home
							a(href="#").main-nav__item.main-nav__item--active Sevice
							a(href="#").main-nav__item Pricing
							a(href="#").main-nav__item Portfolio
							a(href="#").main-nav__item Contact us

				div.main-header__bunner.bunner
					h2.bunner__title We Love <a class='bunner__logo'>Foinni</a> Polapain
					p.bunner__tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis n
					
			main.main-content
			
				section.main-content__welcome.welcome
					h2.welcome__title Welcome To 
						span.welcome__logo FOINNI
					p.welcome__discription Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
					div.welcome__option-list
						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_code')
							h3.option__title Development
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_monitor')
							h3.option__title Responsive
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_wifi')
							h3.option__title Clean Design
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_eye')
							h3.option__title Graphic Design
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_camera')
							h3.option__title Photography
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_brightness')
							h3.option__title Photo Editing
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

				section.main-content__team.team
					h2.team__title Meet Us
					
					div.team__list
						div.team__member.member
							img(src="assets/images/user3.jpg", alt="Abida Foinni").member__photo
							div.member__info
								p.member__name Abida Foinni
								p.member__position Photographer
								div.member__social
									a(href='#').member__behance
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_behance')
									a(href='#').member__facebook
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_facebook')
									a(href='#').member__twitter
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_twitter')
										
						div.team__member.member
							img(src="assets/images/user4.jpg", alt="Abida Foinni").member__photo
							div.member__info
								p.member__name Liker Shohel
								p.member__position Photographer
								div.member__social
									a(href='#').member__behance
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_behance')
									a(href='#').member__facebook
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_facebook')
									a(href='#').member__twitter
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_twitter')
										
						div.team__member.member
							img(src="assets/images/user2.jpg", alt="Abida Foinni").member__photo
							div.member__info
								p.member__name Mahmud Koli
								p.member__position Graphic Designer
								div.member__social
									a(href='#').member__behance
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_behance')
									a(href='#').member__facebook
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_facebook')
									a(href='#').member__twitter
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_twitter')
										
						div.team__member.member
							img(src="assets/images/user1.jpg", alt="Abida Foinni").member__photo
							div.member__info
								p.member__name Jolil Shaheb
								p.member__position Web Developer
								div.member__social
									a(href='#').member__behance
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_behance')
									a(href='#').member__facebook
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_facebook')
									a(href='#').member__twitter
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_twitter')
	
				section#tabs.main-content__works.works
					h2.works__title Our Latest Works
					ul.works__types.types
						li
							a(href="#tabs-1").types__item All
						li
							a(href="#tabs-2").types__item Design
						li
							a(href="#tabs-3").types__item.types__item--active Manipulation
						li
							a(href="#tabs-4").types__item Photography
						li
							a(href="#tabs-5").types__item Development
							
					div#tabs-1.works__photos-block.popup-gallery
						a(href="assets/images/work1.jpg", title="work1")
							img(src="assets/images/work1.jpg")
						a(href="assets/images/work2.jpg", title="work2")
							img(src="assets/images/work2.jpg")
						a(href="assets/images/work3.jpg", title="work3")
							img(src="assets/images/work3.jpg")
						a(href="assets/images/work4.jpg", title="work4")
							img(src="assets/images/work4.jpg")
						a(href="assets/images/work5.jpg", title="work5")
							img(src="assets/images/work5.jpg")
						a(href="assets/images/work6.jpg", title="work6")
							img(src="assets/images/work6.jpg")
					div#tabs-2.works__photos-block
						a(href="assets/images/work2.jpg", title="work2")
							img(src="assets/images/work2.jpg")
						a(href="assets/images/work3.jpg", title="work3")
							img(src="assets/images/work3.jpg")
						a(href="assets/images/work4.jpg", title="work4")
							img(src="assets/images/work4.jpg")
						a(href="assets/images/work5.jpg", title="work5")
							img(src="assets/images/work5.jpg")
						a(href="assets/images/work6.jpg", title="work6")
							img(src="assets/images/work6.jpg")
						a(href="assets/images/work1.jpg", title="work1")
							img(src="assets/images/work1.jpg")
					div#tabs-3.works__photos-block
						a(href="assets/images/work3.jpg", title="work3")
							img(src="assets/images/work3.jpg")
						a(href="assets/images/work4.jpg", title="work4")
							img(src="assets/images/work4.jpg")
						a(href="assets/images/work5.jpg", title="work5")
							img(src="assets/images/work5.jpg")
						a(href="assets/images/work6.jpg", title="work6")
							img(src="assets/images/work6.jpg")
						a(href="assets/images/work1.jpg", title="work1")
							img(src="assets/images/work1.jpg")
						a(href="assets/images/work2.jpg", title="work2")
							img(src="assets/images/work2.jpg")
					div#tabs-4.works__photos-block
						a(href="assets/images/work4.jpg", title="work4")
							img(src="assets/images/work4.jpg")
						a(href="assets/images/work5.jpg", title="work5")
							img(src="assets/images/work5.jpg")
						a(href="assets/images/work6.jpg", title="work6")
							img(src="assets/images/work6.jpg")
						a(href="assets/images/work1.jpg", title="work1")
							img(src="assets/images/work1.jpg")
						a(href="assets/images/work2.jpg", title="work2")
							img(src="assets/images/work2.jpg")
						a(href="assets/images/work3.jpg", title="work3")
							img(src="assets/images/work3.jpg")
					div#tabs-5.works__photos-block
						a(href="assets/images/work5.jpg", title="work5")
							img(src="assets/images/work5.jpg")
						a(href="assets/images/work6.jpg", title="work6")
							img(src="assets/images/work6.jpg")
						a(href="assets/images/work1.jpg", title="work1")
							img(src="assets/images/work1.jpg")
						a(href="assets/images/work2.jpg", title="work2")
							img(src="assets/images/work2.jpg")
						a(href="assets/images/work3.jpg", title="work3")
							img(src="assets/images/work3.jpg")
						a(href="assets/images/work4.jpg", title="work4")
							img(src="assets/images/work4.jpg")
					button.works__see-more See More
	
	






			script(type='text/javascript' src="assets/scripts/script.js")