DOCTYPE
	html(lang="en")
		head
			meta(charset="UTF-8")
			meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name='cleartype' content='on')
			meta(name='google' value='notranslate')
			meta(name="robots" content="index, follow")
			meta(name='description' content='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.')
			meta(name='keywords' content='development, web, design, seo, sharkz')
			link(href='assets/images/favicon.png'   rel='icon' type='image/png')
			title Foinni

			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
			script(src="assets/scripts/libs.min.js")

			link(rel="stylesheet", href="assets/styles/style.min.css")

		body

			header.main-header
				div.top-header
					div.top-header__logo.logo
						a(href="#").logo__link foi 
							span.logo--accent nni
					div.top-header__main-nav.main-nav
						button.main-nav__btn
							svg.main-nav__svg-menu
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_menu')
						nav.main-nav__menu
							a(href="#").main-nav__item Home
							a(href="#").main-nav__item.main-nav__item--active Sevice
							a(href="#").main-nav__item Pricing
							a(href="#").main-nav__item Portfolio
							a(href="#").main-nav__item Contact us

				div.main-header__bunner.bunner
					h2.bunner__title We Love <a class='bunner__logo'>Foinni</a> Polapain
					p.bunner__tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis n
					
			main.main-content
			
				section.main-content__welcome.welcome
					h2.welcome__title Welcome To 
						span.welcome__logo FOINNI
					p.welcome__discription Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
					div.welcome__option-list
						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_code')
							h3.option__title Development
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_monitor')
							h3.option__title Responsive
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_wifi')
							h3.option__title Clean Design
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_eye')
							h3.option__title Graphic Design
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_camera')
							h3.option__title Photography
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

						a(href="#").welcome__option.option
							svg.option__icon
								use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_brightness')
							h3.option__title Photo Editing
							p.option__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo. Nemo enim ipsam voluptatem quia 

				section.main-content__team.team
					h2.team__title Meet Us
					
					div.team__list
						div.team__member.member
							img(src="assets/images/user3.jpg", alt="Abida Foinni", srcset="assets/images/user3@2.jpg 2x").member__photo
							div.member__info
								p.member__name Abida Foinni
								p.member__position Photographer
								div.member__social
									a(href='#').member__behance
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_behance')
									a(href='#').member__facebook
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_facebook')
									a(href='#').member__twitter
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_twitter')
										
						div.team__member.member
							img(src="assets/images/user4.jpg", alt="Abida Foinni", srcset="assets/images/user4@2.jpg 2x").member__photo
							div.member__info
								p.member__name Liker Shohel
								p.member__position Photographer
								div.member__social
									a(href='#').member__behance
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_behance')
									a(href='#').member__facebook
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_facebook')
									a(href='#').member__twitter
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_twitter')
										
						div.team__member.member
							img(src="assets/images/user2.jpg", alt="Abida Foinni", srcset="assets/images/user2@2.jpg 2x").member__photo
							div.member__info
								p.member__name Mahmud Koli
								p.member__position Graphic Designer
								div.member__social
									a(href='#').member__behance
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_behance')
									a(href='#').member__facebook
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_facebook')
									a(href='#').member__twitter
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_twitter')
										
						div.team__member.member
							img(src="assets/images/user1.jpg", alt="Abida Foinni", srcset="assets/images/user1@2.jpg 2x").member__photo
							div.member__info
								p.member__name Jolil Shaheb
								p.member__position Web Developer
								div.member__social
									a(href='#').member__behance
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_behance')
									a(href='#').member__facebook
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_facebook')
									a(href='#').member__twitter
										svg.member__social-icon
											use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_twitter')
	
				section#tabs.main-content__works.works
					h2.works__title Our Latest Works
					ul.works__types.types
						li
							a(href="#tabs-1").types__item All
						li
							a(href="#tabs-2").types__item Design
						li
							a(href="#tabs-3").types__item.types__item--active Manipulation
						li
							a(href="#tabs-4").types__item Photography
						li
							a(href="#tabs-5").types__item Development
							
					div#tabs-1.works__photos-block.popup-gallery
						a(href="assets/images/work1.jpg")
							img(src="assets/images/work1.jpg", srcset="assets/images/work1@2.jpg 2x", title="work1")
						a(href="assets/images/work2.jpg")
							img(src="assets/images/work2.jpg", title="work2", srcset="assets/images/work2@2.jpg 2x")
						a(href="assets/images/work3.jpg")
							img(src="assets/images/work3.jpg", title="work3", srcset="assets/images/work3@2.jpg 2x")
						a(href="assets/images/work4.jpg")
							img(src="assets/images/work4.jpg", title="work4", srcset="assets/images/work4@2.jpg 2x")
						a(href="assets/images/work5.jpg")
							img(src="assets/images/work5.jpg", title="work5", srcset="assets/images/work5@2.jpg 2x")
						a(href="assets/images/work6.jpg")
							img(src="assets/images/work6.jpg", title="work6", srcset="assets/images/work6@2.jpg 2x")
					div#tabs-2.works__photos-block
						a(href="assets/images/work2.jpg")
							img(src="assets/images/work2.jpg", title="work2", srcset="assets/images/work2@2.jpg 2x")
						a(href="assets/images/work3.jpg")
							img(src="assets/images/work3.jpg", title="work3", srcset="assets/images/work3@2.jpg 2x")
						a(href="assets/images/work4.jpg")
							img(src="assets/images/work4.jpg", title="work4", srcset="assets/images/work4@2.jpg 2x")
						a(href="assets/images/work5.jpg")
							img(src="assets/images/work5.jpg", title="work5", srcset="assets/images/work5@2.jpg 2x")
						a(href="assets/images/work6.jpg")
							img(src="assets/images/work6.jpg", title="work6", srcset="assets/images/work6@2.jpg 2x")
						a(href="assets/images/work1.jpg")
							img(src="assets/images/work1.jpg", srcset="assets/images/work1@2.jpg 2x", title="work1")
					div#tabs-3.works__photos-block
						a(href="assets/images/work3.jpg")
							img(src="assets/images/work3.jpg", title="work3", srcset="assets/images/work3@2.jpg 2x")
						a(href="assets/images/work4.jpg")
							img(src="assets/images/work4.jpg", title="work4", srcset="assets/images/work4@2.jpg 2x")
						a(href="assets/images/work5.jpg")
							img(src="assets/images/work5.jpg", title="work5", srcset="assets/images/work5@2.jpg 2x")
						a(href="assets/images/work6.jpg")
							img(src="assets/images/work6.jpg", title="work6", srcset="assets/images/work6@2.jpg 2x")
						a(href="assets/images/work1.jpg")
							img(src="assets/images/work1.jpg", srcset="assets/images/work1@2.jpg 2x", title="work1")
						a(href="assets/images/work2.jpg")
							img(src="assets/images/work2.jpg", title="work2", srcset="assets/images/work2@2.jpg 2x")
					div#tabs-4.works__photos-block
						a(href="assets/images/work4.jpg")
							img(src="assets/images/work4.jpg", title="work4", srcset="assets/images/work4@2.jpg 2x")
						a(href="assets/images/work5.jpg")
							img(src="assets/images/work5.jpg", title="work5", srcset="assets/images/work5@2.jpg 2x")
						a(href="assets/images/work6.jpg")
							img(src="assets/images/work6.jpg", title="work6", srcset="assets/images/work6@2.jpg 2x")
						a(href="assets/images/work1.jpg")
							img(src="assets/images/work1.jpg", srcset="assets/images/work1@2.jpg 2x", title="work1")
						a(href="assets/images/work2.jpg")
							img(src="assets/images/work2.jpg", title="work2", srcset="assets/images/work2@2.jpg 2x")
						a(href="assets/images/work3.jpg")
							img(src="assets/images/work3.jpg", title="work3", srcset="assets/images/work3@2.jpg 2x")
					div#tabs-5.works__photos-block
						a(href="assets/images/work5.jpg")
							img(src="assets/images/work5.jpg", title="work5", srcset="assets/images/work5@2.jpg 2x")
						a(href="assets/images/work6.jpg")
							img(src="assets/images/work6.jpg", title="work6", srcset="assets/images/work6@2.jpg 2x")
						a(href="assets/images/work1.jpg")
							img(src="assets/images/work1.jpg", srcset="assets/images/work1@2.jpg 2x", title="work1")
						a(href="assets/images/work2.jpg")
							img(src="assets/images/work2.jpg", title="work2", srcset="assets/images/work2@2.jpg 2x")
						a(href="assets/images/work3.jpg")
							img(src="assets/images/work3.jpg", title="work3", srcset="assets/images/work3@2.jpg 2x")
						a(href="assets/images/work4.jpg")
							img(src="assets/images/work4.jpg", title="work4", srcset="assets/images/work4@2.jpg 2x")
					button.works__see-more See More
			
				section.main-content__price.price
					h2.price__title Our Pricing Plans
					div.price__price-plan.price-plan
						h4.price-plan__name Basic
						div.price-plan__description
							p.price-plan__price
								sup $
								| 20
								span.price-plan__time /m
							ul.price-plan__options
								li 15 projects
								li 30 GB Storage
								li Unlimited Data Transfer
								li 50 GB Bandwith
								li 24/7 Support
							button.price-plan__btn-order Order Now
					div.price__price-plan.price-plan
						h4.price-plan__name Standard
						div.price-plan__description
							p.price-plan__price
								sup $
								| 20
								span.price-plan__time /m
							ul.price-plan__options
								li 15 projects
								li 30 GB Storage
								li Unlimited Data Transfer
								li 50 GB Bandwith
								li 24/7 Support
							button.price-plan__btn-order Order Now
					div.price__price-plan.price-plan
						h4.price-plan__name Business
						div.price-plan__description
							p.price-plan__price
								sup $
								| 20
								span.price-plan__time /m
							ul.price-plan__options
								li 15 projects
								li 30 GB Storage
								li Unlimited Data Transfer
								li 50 GB Bandwith
								li 24/7 Support
							button.price-plan__btn-order Order Now
					div.price__price-plan.price-plan
						h4.price-plan__name Premium
						div.price-plan__description
							p.price-plan__price
								sup $
								| 20
								span.price-plan__time /m
							ul.price-plan__options
								li 15 projects
								li 30 GB Storage
								li Unlimited Data Transfer
								li 50 GB Bandwith
								li 24/7 Support
							button.price-plan__btn-order Order Now
					button.price__btn-prev
						svg.price__prev-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_leftarrow')

					button.price__btn-next
						svg.price__next-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_rightarrow')
			
				section.main-content__feedback.feedback
					h2.feedback__title Say Hi
					form(action="post", name="feedback-form").feedback__form
						input(type="text", placeholder="Your Name", name="name").feedback__name
						input(type="text", placeholder="Your Email", name="email").feedback__email
						textarea(name="message", cols="30", rows="10", placeholder="Your Message...").feedback__message
						button(type="submit").feedback__btn Send Message
			
			footer.main-footer
				div.main-footer__top
					div.main-footer__about.about
						h4.about__title About Us
						p.about__description Lorem ipsum dolor sit amet, consectetitecto beatae vitae dicta sunt explicabo. magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempuaerat voluptatem.

					div.main-footer__footer-nav.footer-nav
						h4.footer-nav__title Quick Links
						ul.footer-nav__list
							li
								a(href="#").footer-nav__link Home
							li
								a(href="#").footer-nav__link Services
							li
								a(href="#").footer-nav__link Portfolio
							li
								a(href="#").footer-nav__link Pricing
							li
								a(href="#").footer-nav__link Contact Us
							li
								a(href="#").footer-nav__link Development
							li
								a(href="#").footer-nav__link Photography
							li
								a(href="#").footer-nav__link Design
							li
								a(href="#").footer-nav__link Manipulation

					div.main-footer__social-links.social-links
						h4.social-links__title Find Us On
						ul.social-links__list
							li
								a(href="#", title="facebook").social-links__link
									svg.social-links__icon
										use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_facebook')
							li
								a(href="#", title="google+").social-links__link
									svg.social-links__icon
										use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_google')
							li
								a(href="#", title="twitter").social-links__link
									svg.social-links__icon
										use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_twitter')
							li
								a(href="#", title="linkedin").social-links__link
									svg.social-links__icon
										use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_linkedin')
								
					div.main-footer__subscribe-form.subscribe-form
						h4.subscribe-form__title Subscribe Our Newsletter
						form(action="post", name="subscribe-form").subscribe-form__form
							input(type="text", placeholder="Your Email...", name="email").subscribe-form__input-email
							button(type="submit").subscribe-form__btn Subscribe
						
					
				div.main-footer__bottom
					p.main-footer__copyright A Design By MD. Zillur Rahman Sama
			
			
			div.modal-form
				div.modal-form__window
					p Форма не отправлена. 
					p Программа обработки не найдена.
				div.modal-form__overlay
				
			div.modal-link
				div.modal-link__window
					p Переход по ссылке отменен.
					p Страница не найдена.
				div.modal-link__overlay
			
			script(type='text/javascript' src="assets/scripts/script.js")